<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="wrapper">

        {% for i in range(num1//2): %}

        <div class="rowOne">

            {% for j in range(num2//2): %}
            <div class="lightBox" style="background-color: {{color1}}"></div>
            <div class="darkBox" style="background-color: {{color2}}"></div>
            {% endfor %}

        </div>

        <div class="rowTwo">

            {% for j in range(num2//2): %}
            <div class="darkBox" style="background-color: {{color2}}"></div>
            <div class="lightBox" style="background-color: {{color1}}"></div>
            {% endfor %}
            
        </div>

        {% endfor %}

    </div>
</body>

</html>